#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: InterVariable, system-ui, sans-serif;
}

.app {
  width: vw;
}

.recipeCard {
  width: 60em;
  min-height: 10em;
  border-radius: 0.5em;
  padding: 1.5em;
  display: grid;
  grid-template-areas:
    "image header"
    "image content"
    "image footer";
  grid-template-columns: 1fr 3fr;
  box-shadow: 0px 1px 3px lightgrey;
  /* font-family: InterVariable, system-ui, sans-serif; */
}

.cardImage {
  grid-area: image;
  width: 10em;
  height: 10em;
  border-radius: 0.5em;
  background-color: lightgray;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-area: footer;
}

h2 {
  justify-self: start;
  grid-area: header;
  font-weight: 500;
  margin: 0;
}
